.main-container{
    max-width: 1240px;
    padding: 0 50px 20px 50px;
    margin: 0 auto;
}
.show-review-container {
    border: 1px solid rgba(0, 0, 0, 0.212);
    padding: 30px;
    margin: 20px auto 20px;
    border-radius: 10px;
    box-shadow: 0px 6px 4px #0000003d;
    width: 60%;
}
.show-review-container h1{
    font-size: 24px;
    color: goldenrod;
    font-weight: bold;
}
.show-review-container  p {
    color: gray;
    font-size: 18px;
    font-weight: 500;
    margin: 5px 0;
}
.show-review-container .service-btn{
    margin-top: 20px;
}
.show-review-container .delete-btn{
    background-color: gray;
    padding: 5px 25px;
    color: white;
    border-radius: 0px;
    transition: .5s;
}
.show-review-container .delete-btn:hover{
    border-radius: 7px;
    opacity: 70%;
}
.show-review-container .update-btn{
    background-color: green;
    padding: 5px 20px;
    color: white;
    border-radius: 0px;
    margin-left: 10px;
    transition: .5s;
}
.show-review-container .update-btn:hover{
    border-radius: 7px;
    opacity: 70%;
}
@media screen and (max-width: 767px) {
    .show-review-container{
        width: 100%;
    }
    .main-container{
        padding: 0 30px 20px 30px;
    }
}