.add-service{
    max-width: 1240px;
    padding: 0 50px;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 50px;
}
#service-container{
    width: 60%;
}
.form{
    border: 1px solid rgba(0, 0, 0, 0.301);
    padding: 30px;
    border-radius: 10px;
}
.add-service h3{
    text-align: center;
    font-size: 32px;
    color: orange;
    font-weight: bold;
    margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
    .add-service{
        padding: 0 30px;
    }
    #service-container{
        width: 100%;
    }
}