#slider-img{
    position: relative;
}
.slider-caption{
    position: absolute;
    width: 50%;
    margin-left: 100px;
    top: 30%;
    transform: translateY(-30%);
}
.slider-caption h2{
    color: orange;
    font-size: 28px;
    font-weight: 700;
    line-height: 35px;
}
.slider-caption p{
    color: wheat;
    font-size: 18px;
    font-weight: 400;
    margin: 10px 0;
}
@media screen and (max-width: 767px) {
    .slider-caption{
        width: 85%;
        margin-left: 50px;
    }
}